@import "../../App.styles.scss";

.signin-form {
  width: 50%;
  padding: $padding-3;
  &__title {
    font-size: $h2-font-size;
  }
  &__subtitle {
    display: inline-block;
    font-size: $font-size;
    margin-bottom: $margin-bottom-3;
  }
  &__button-group {
    display: flex;
    justify-content: space-between;
  }
}
