@import "../../App.styles.scss";

.products {
  display: flex;
  /* if row every child as a row */
  /* Now, every child in one column */
  flex-direction: column;

  &__header {
    font-size: $h1-font-size;
    margin-bottom: $margin-bottom-3;
  }

  &__tile {
    display: flex;
    /* child should sum to less than 100% */
    justify-content: space-between;
    margin-bottom: $margin-bottom-3;
  }
}
